*{
    margin: 1%;
    padding: 1%;
    background-color: rgb(17, 75, 235);
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
}

.fullCard{
    border: 2px solid white;
    background-color: rgb(241, 225, 195);
    width: 20%;
    height: 10%;
    display: inline-block;

}
p{
    color: black;
    border: 2px solid black;
    background-color: rgb(241, 225, 195);
}
.name{
    display: block;
}
img{
    width: 80%;
    height: 30%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}